@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;600&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Kanit", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.mess {
  background-image: url("/img/mensaje.svg");
}

@keyframes slideAndFade {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-7pc);
    opacity: 0;
  }
}

.fading-of-elements-right {
  animation: slideAndFade 0.5s ease-in-out forwards; /* Ajusta la duración según tus preferencias */
}
@keyframes slideAndFade2 {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-7pc);
    opacity: 0;
  }
}

.fading-of-elements-top {
  animation: slideAndFade2 0.5s ease-in-out forwards; /* Ajusta la duración según tus preferencias */
}

/* Estilos normales para el SVG */
.svg-container {
  width: 24px;
  height: 24px;
  /* Otros estilos que desees aplicar */
  border: 1px solid red;
  fill: green !important;
}

/* Estilos de hover para el SVG */
.svg-container:hover {
  fill: blue !important; /* Cambia el color de relleno en hover */
  transform: scale(1.2); /* Cambia el tamaño en hover */
  /* Otros estilos de hover que desees aplicar */
}

@keyframes aumentarYDesvanecer {
  0% {
    width: 41pc;
  }
  100% {
    width: 78pc;
  }
}
@keyframes mapaDos {
  0% {
    width: 41pc;
  }
  100% {
    width: 78pc;
  }
}
@keyframes mapaTres {
  0% {
    width: 41pc;
  }
  100% {
    width: 78pc;
  }
}
@keyframes mapaCuatro {
  0% {
    width: 41pc;
  }
  100% {
    width: 78pc;
  }
}
@keyframes mapaFive {
  0% {
    width: 41pc;
  }
  100% {
    width: 78pc;
  }
}

.mi-animacion {
  animation: aumentarYDesvanecer 1s ease-in-out forwards; /* 5s es la duración de la animación */
}
.miAnimacion2 {
  animation: mapaDos 1s ease-in-out forwards; /* 5s es la duración de la animación */
}
.miAnimacion3 {
  animation: mapaTres 1s ease-in-out forwards; /* 5s es la duración de la animación */
}
.miAnimacion4 {
  animation: mapaCuatro 1s ease-in-out forwards; /* 5s es la duración de la animación */
}
.miAnimacion5 {
  animation: mapaFive 1s ease-in-out forwards; /* 5s es la duración de la animación */
}

.mp {
  transition: all 0.5s ease-in-out forwards;
}
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.styled-table th,
.styled-table td {
  padding: 8px 12px;
  text-align: left;
  color: white;
}

.styled-table th {
  background-color: #333;
  font-weight: bold;
}
.styled-table-tow {
  width: 50pc;
  border-collapse: collapse;
  border: 1px solid #ffffff;
  margin-top: 20px;
  color: white;
}

.styled-table-tow th,
.styled-table-tow td {
  padding: 8px 12px;
  text-align: left;
  color: white;
}

.styled-table-tow th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.tat img {
  width: 3pc;
}

.tat {
  display: flex;
  align-items: center;
}
.contaAni {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.fondo1 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/fb-picporter.appspot.com/o/8.png?alt=media&token=e213c385-d239-4ec4-8774-dbad992d2600");
}

.fondoMap {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/fb-picporter.appspot.com/o/mapa.png?alt=media&token=c7be8ad7-4526-48c3-b8cc-5972adb7224b");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo2 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/fb-picporter.appspot.com/o/11.png?alt=media&token=4f76245c-8c5a-422f-abd6-36081942e294");
}

.blu {
  backdrop-filter: blur(40px); /* Controla la cantidad de desenfoque */
}
.fondo3 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/fb-picporter.appspot.com/o/9.png?alt=media&token=118629a5-7503-449d-a803-ae9583e893fb");
}
.fondo4 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/fb-picporter.appspot.com/o/11.png?alt=media&token=4f76245c-8c5a-422f-abd6-36081942e294");
  background-position: bottom center;
}
.fondo5 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/fb-picporter.appspot.com/o/8.png?alt=media&token=e213c385-d239-4ec4-8774-dbad992d2600");
  background-position: bottom center;
}
.fondo6 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/fb-picporter.appspot.com/o/14.png?alt=media&token=a5892626-d9a2-4445-a9d9-80c2842257b8");
  background-position: bottom center;
}
.fondo7 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/fb-picporter.appspot.com/o/selva.png?alt=media&token=032acb0a-3031-49e1-b146-c650276487a0");
  background-position: bottom;
}
.fondo8 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/fb-picporter.appspot.com/o/selva.png?alt=media&token=032acb0a-3031-49e1-b146-c650276487a0");
  background-position: bottom;
  background-size: cover;
}
